@import '../../styles/colors.scss';

.button {
  border: none;
  border-radius: 3px;
  background-color: $blue;
  background: linear-gradient(#4A8AB3, #4682A9);
  color: $white;
  padding: 0.6rem 0.8rem;
  box-sizing: border-box;
  font-size: 2rem;
  cursor: pointer;
  font-weight: 900;
  transition: all 150ms linear;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.25);

  &:hover {
    opacity: 0.8;
  }
}

.largeBtn {
  width: 100%;
}

.mediumBtn {
  width: 60%;
}

.smallBtn {
  width: 30%;
  font-weight: 600;
  font-size: 1.4rem;
}

.dangerBtn {
  background: $red;
}