@import "../../styles/colors.scss";

.dashboard {
  display: flex;
  flex-direction: row;
  height: 100%;
  background-color: $light-blue;

  &__infoBox {
    padding: 5rem 6rem;
    width: 100%;

    &__controlBox {
      display: flex;
      width: 100%;
      flex-direction: row;
      justify-content: flex-end;
      
      &__time {
        color: $black;
        font-size: 1.6rem;
      }
    }
  }
}