@import "../../../styles/colors.scss";

.analysis {
  display: flex;
  flex-direction: row;
  height: 100%;
  background-color: $light-blue;

  &__infoBox {
    padding: 7rem 6rem;

    &__msg {
      font-size: 1.8rem;
      color: $info;
      position: absolute;
    }

    &__sortingBox {
      margin-bottom: 6rem;
    }

    &__analysisBox {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      gap: 3rem;

      &__empty {
        font-size: 1.8rem;
      }

      &__item {
        width: 53.2rem;
        padding: 1.5rem;
        font-size: 1.4rem;
        background-color: $light;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        gap: 0.7rem;

        &__headerBox {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          &__title {
            font-size: 1.8rem;
          }
        }

        &__controlBox {
          display: flex;
          flex-direction: row;
          gap: 1rem;

          &__ico {
            width: 2.6rem;
            height: 2.6rem;
            cursor: pointer;
            filter: drop-shadow(1px 1px 4px #33333325);
            transition-duration: 0.7s;

            &:hover {
              opacity: 0.7;
            }
          }
        }

        &__mainInfo {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          margin-bottom: 1rem;
          font-size: 1.4rem;

          &__valuesBox{
            width: 100%;
            border-top: 1px solid $black-light;
            padding-top: 1rem;
            
            &__valuesTable {
              margin-bottom: 1.5rem;
              width: 100%;

              &__valRow {
                height: 2.4rem;
              }
              &__tHead {
                font-weight: 700;
              }

              &__controlBox {
                display: flex;
                flex-direction: row;
                gap: 1rem;
                &__item {
                  cursor: pointer;
                  width: 1.4rem;
                }
              }
            }
          }

          &__addValBtn {
            background: none;
            border: none;
            font-size: 1.4rem;
            cursor: pointer;
            text-decoration: underline;
            transition-duration: 0.5s;
            padding: 1rem 0;

            &:hover {
              opacity: 0.7;
            }

          }
        }
      }
    }
  }
}