@import "../../styles/colors.scss";

.settings {
  display: flex;
  flex-direction: row;
  height: 100%;
  background-color: $light-blue;

  &__infoBox {
    padding: 5rem 6rem;

    &__warnText {
      color: $black;
      font-size: 1.6rem;
    }
  }
}